@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MstUser
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <div class="form-group">
                <label asp-for="Id" class="control-label">ID</label>
                <input asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="uname" class="control-label">Username</label>
                <input asp-for="uname" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label">Email</label>
                <input asp-for="email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="phonenum" class="control-label">Phone Number</label>
                <input asp-for="phonenum" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="skillset" class="control-label">Skillset</label>
                <input asp-for="skillset" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="hobby" class="control-label">Hobby</label>
                <input asp-for="hobby" class="form-control" />
            </div>
        </form>
    </div>
</div>

@await Component.InvokeAsync("FreelancerTable")